body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align: center;
	color: Black;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	
}
p { font: 10pt; 
margin-top: 2px;
margin-bottom: 2px;}
pre { font-size: 10pt; margin: 0px; padding: 0px;}
h1{
	font-size: 15pt;
padding-left: 15px;
padding-right: 15px;
color: #fff;
background-color: #6C90C0;
}
#name_div, #name_div p, #name_div td{
	color: #FFF;
	font-size: 17pt;
	padding: 3px;
	font-weight: bold;
}
#name_div *{
	padding: 0;
	margin: 0;
}
#text h2{

font-size: 14pt;
padding: 3px;
padding-left: 15px;
padding-right: 15px;
background-color: #9ABAE0;
color: #fff;
}
#text h3{
	color: #6C90C0;
font-size: 13pt;
padding-left: 15px;
padding-right: 15px;
}
#text h4{
padding: 2px;
padding-left: 15px;
padding-right: 15px;
font-size: 12pt;
color: #9ABAE0;
}
#text h5{
font-size: 11pt;
padding-left: 15px;
padding-right: 15px;
color: #6C90C0;
}
#text h6{
font-size: 10pt;
padding-left: 15px;
padding-right: 15px;
color: #6C90C0;
font-weight: bold;
}

#text a{	
color: #6C90C0;
font-weight: bold;
}
#text a:hover{
	color: #9ABAE0;
}
td{
	font-size: 10pt;
}
li p{
	padding: 0;
	margin: 0;
}

#text ul{
	list-style-image: url(li.gif);
}